<html>
  <div style="text-align-last: right; padding-right: 45%">
    <h1>Add a New Player</h1>

    <label><b>Name</b></label
    >&nbsp;&nbsp;&nbsp;&nbsp;
    <input
      style="text-align-last: start"
      type="text"
      name="name"
      id="name"
      #Name
    /><br />
    <label><b>Innings</b></label
    >&nbsp;
    <input
      style="text-align-last: start"
      type="number"
      name="Innings"
      id="Innings"
      #Innings
    /><br />
    <label><b>Highest</b></label
    >&nbsp;
    <input
      style="text-align-last: start"
      type="number"
      name="Highest"
      id="Highest"
      #Highest
    /><br />
    <label><b>Runs</b></label
    >&nbsp;
    <input
      style="text-align-last: start"
      type="Number"
      name="Runs"
      id="Runs"
      #Runs
    /><br />
    <label><b>Average</b></label
    >&nbsp;
    <input
      style="text-align-last: start"
      type="Number"
      name="Average"
      id="Average"
      #Average
    /><br />
    <br />
    <button
      type="button"
      style="margin-right: 6%"
      (click)="
        Register(
          Name.value,
          Innings.value,
          Highest.value,
          Runs.value,
          Average.value
        )
      "
    >
      Register
    </button>
    <button type="button" style="margin-right: 15px">
      <a routerLink="/dashboard" style="text-decoration: none; color: black"
        >Back</a
      >
    </button>
  </div>
</html>
